<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thirsty Mongoose</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/main.css'>
</head>
<body>
    <div class='container-fluid'>
        <div class='row navBar'>
            <div class='col-md-2 text-center'>
                <img src='/images/mongoose.png' alt='The Thirsty Mongoose' class='img img-fluid img-border'>
            </div>
            <div class='col-md-8 text-center'>
                <span class='nav-span text-center'>WELCOME TO THE THIRSTY MONGOOSE!</span>
            </div>
            <div class='col-md-2 text-center'>
                <a href='/diners' class='nav-links'>All Diners</a></br>
                <a href='/sodas' class='nav-links'>All Sodas</a>
            </div>
        </div>
    </div>
    {{{body}}}

    <script src='/js/jquery.js'></script>
    <script src='/js/index.js'></script>
</body>
</html>