<div class='container-fluid'>
    <div class='row text-center'>
        <div class='col'>
            <h1>Add a Soda!</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4 text-center'>
            <label for='sodaName' class='add-diner-form'>Soda Name</label>
            <input type='text' name='sodaName' id='sodaName' class='black-border form-control add-diner-form' required>
            <label for='sodaStyle' class='add-diner-form'>Style</label>
            <input type='text' name='sodaStyle' id='sodaStyle' class='black-border form-control add-diner-form' required>
            <button class='btn btn-default btn-color add-diner-form' id='sodaAddButton'>Add</button>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>