<div class='container-fluid'>
    <div class='row'>
        <div class='col text-center main-text font-italic'>
            <h4>Thirsty? So is the mongoose! Use our app to find drinks and the diners that serve them!</h4>
        </div>
    </div>
</div>