<div class='container-fluid'>
    <div class='row text-center'>
        <div class='col'>
            <h1>Add a Diner!</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4 text-center'>
            <label for='dinerName' class='add-diner-form'>Diner Name</label>
            <input type='text' name='dinerName' id='dinerName' class='black-border form-control add-diner-form' required>
            <label for='dinerLocation' class='add-diner-form'>Location</label>
            <input type='text' name='dinerLocation' id='dinerLocation' class='black-border form-control add-diner-form' required>
            <button class='btn btn-default btn-color add-diner-form' id='dinerAddButton'>Add</button>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>